/* Paleta de colores
#73c15b verde
#00b14e verde oscuro
#43494c gris
#262a2d gris oscuro
*/

/* Paleta de colores facebook
#04ae08 verde claro
#095329 verde oscuro
#233d41 gris cemento
#b5d9d8 gris claro
#336767 gris cemento claro
#08512b verde oscuro letra
#15a71e verde claro letra
#025156
*/
*{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .loading{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  animation: 3.6s loading ease-in-out forwards;
  overflow: hidden;
  display: flex;
  align-items: center;
} */

/* Animacion del loading */

/* @keyframes loading{
  0%{
    transform: translateX(-200%);
    visibility: visible;

  }
  100%{
    transform: translateX(100%);
    visibility: hidden;
  }
} */

/* Animacion del body */

/* body{
  animation: 2s vanish ease-in-out 2s forwards;
}
  
  @keyframes vanish{
  0%{
    transform: translateX(-150%);
  }
  100%{
    transform: translateX(0%);
  }
} */

header{
  background-image: url('../img/fondo_nav_ipf.png');
  background-size: 1296px 112px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.nav-item{
  display: flex;
  align-items: center;
  color: green;

}

.nav-link{
  color: green;
}

.nav-link active{
  color: black;
}

#main{
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

/* FOOTER */
footer {
    background-color: #025156;
}
.pie-pagina a:hover {
    color: #15a71e !important;
    transition: 0.3s;
}